TWITTER_USERNAME="@your_bot_account"
TWITTER_PASSWORD="..."
TARGET_HANDLE="handle_to_monitor"

# Gmail SMTP app password (myaccount.google.com/apppasswords) -- NOT your login password.
ALERT_EMAIL_FROM="your_gmail_account@gmail.com"
ALERT_EMAIL_APP_PASSWORD="..."
ALERT_EMAIL_TO="benbav97@gmail.com"
